<!-- laboutique section starts here -->
<section class="container">
	
	<header>
		<h1>Nos bijoux</h1>
	</header>

	<div>
		<p>Vous trouverez ci-dessous une séléction de nos bijoux.</p>

		<%= image_tag("bague_1.jpg", class: "img-responsive") %>
	
	</div>

</section>