<!-- index section starts here -->
<section class="container">
	
	<header>
		<h1></h1>
	</header>

	<div>

		<%= image_tag("cover_img.jpg", class: "img-responsive") %>
			
		<p>Bienvenue sur le site internet de la bijouterie l'Argenterie. Vous trouverez sur notre site une sélection de bijoux éthniques. N'hésitez pas à venir nous voir à la boutique 5 Rue de la Butte aux Cailles à Paris.</p>

		
	
		<p>Vous nous trouverez également sur Facebook.</p>

	</div>

</section>