<!-- index section starts here -->
<section class="container">
	
	<header>
		<h1>Bienvenue sur le site internet de la bijouterie l'Argenterie.</h1>
	</header>

	<div>
		<p>Vous trouverez sur notre site une sélection de bijoux éthniques. N'hésitez pas à venir nous voir à la boutique 5 Rue de la Butte aux Cailles à Paris.</p>

		<%= image_tag("bike0.jpg", class: "img-responsive") %>
	
		<p>Vous nous trouverez également sur Facebook.</p>

	</div>

</section>