<!-- laboutique section starts here -->
<section class="container">
	
	<header>
		<h1>Se rendre à la boutique l'Argenterie:</h1>
	</header>

	<div>
		<p>Venez nous voir à la boutique 5 Rue de la Butte aux Cailles à Paris.</p>

		<%= image_tag("bike0.jpg", class: "img-responsive") %>
	
		<p>MAP GOOGLE A METTRE</p>

	</div>

</section>