<!-- laboutique section starts here -->
<section class="container">
	
	<header>
		<h1>Pour vous rendre à la boutique l'Argenterie:</h1>
	</header>

	<div>
		<p>Venez nous voir à la boutique 5 Rue de la Butte aux Cailles à Paris.</p>

		<%= image_tag("shop_front_door.jpg", width: "400" , class: "img-responsive") %>
	
		<p>MAP GOOGLE A METTRE</p>

	</div>

</section>